/* body part */
body {
  font-family: 'Montserrat-Regular', sans-serif;
  text-align: center;
}

/* changed font family for all heading tag */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #8f8f8f;
}

/* title section */
#title {
  text-align: left;
}

/* added some padding around title section */
.container-fluid {
  padding: 3% 15% 9.5%;
}

/* Section */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* navbar editing */
.navbar {
  padding: 0 0 4.5rem;
}

/* Changed font family and size of brand logo */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
}

/* Editing in nav items from title section*/
.nav-item {
  padding: 0 18px;
}

/* nav-items from title section */
.nav-link {
  font-size: 1.3rem;
  font-family: 'Montserrat-light', sans-serif;
}

.big-heading {
  font-size: 3.3rem;
  line-height: 1.5;
}

/* Download button from title section*/
.Download-button {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  left: 50px;
}

/* Feature Box */
#features {
  padding: 7% 15%;
  position: relative;
}

.feature-box {
  padding: 5%;
}

/* changed deafult color of icon */
.feature-icon {
  margin: 1rem;
  color: #f76a8c;
}

/* chnaged color while hovering */
.feature-icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */
#testimonials {
  background-color: #f76a8c;
}

.carousel-item {
  padding: 7% 15%;
}

/* font size and line height adjustment of testimonial + pricing section h2 tag */
.testimonial-h2 {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */
#press {
  background-color: #f76a8c;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */
#pricing {
  padding: 100px;
}

.pricing-h2 {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* call to action */
#cta {
  padding: 5% 25%;
}

.cta-h3 {
  color: #fff;
  font-size: 2.8rem;
  line-height: 1.5;
}

/* Footer */
#footer {
  background-color: #fff;
  padding: 1% 15%;
}

.footer-icon {
  margin: 5% 3% 2% 0;
  color: #f76a8c;
}

.footer-p {
  position: relative;
  right: 1rem;
  padding-bottom: 1rem;
}

/* Media Query for mobile responsive */
@media (max-width: 991px) {
  .col-lg-6 {
    text-align: center;
  }

  .title-image {
    position: static;
    width: 50%;
    transform: rotate(0);
  }

  .container-fluid {
    padding: 3% 15%;
  }

  #feature {
    position: static;
  }
}
